<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add name="doctor" connectionString="Data Source=DESKTOP-E8DNQ5E;Initial Catalog=doctor;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="doctorConnectionString" connectionString="Data Source=DESKTOP-E8DNQ5E;Initial Catalog=doctor;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
